<button (click)="onClickCreateButton()">CREATE</button>

<div *ngIf="openForm">
    <form>
        <tr>
            <td>No : </td>
            <td>{{taskNo}}</td>
        </tr>
        <tr>
            <td>タイトル : </td>
            <td><input type="text" [(ngModel)]="taskTitle" name="taskTitle"></td>
        </tr>
        <tr>
            <td>状態 : </td>
            <td>new</td>
        </tr>
        <tr>
            <td>説明 : </td>
            <td><input type="text" [(ngModel)]="taskDesc" name="taskDesc"></td>
        </tr>
        <button (click)="onClickExecButton()">確定</button>
    </form>
    <button (click)="onClickCancelButton()">cancel</button>
</div>
